<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>400</title>
    <th:block th:replace="layout/backend/header"/>
</head>
<body>
<!-- Preloader -->

<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1 class="text-danger">400</h1>
            <h3 class="text-uppercase">Page Not Found !</h3>
            <p class="text-muted m-t-30 m-b-30">服务器开小差了，马上回来</p>
            <a href="index.html" th:href="@{/}" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40">返回首页</a>
        </div>
        <footer class="footer text-center">2017 © 版权所有</footer>
    </div>
</section>

</body>
</html>
