<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>后台管理</title>
    <th:block th:replace="layout/backend/header"/>
</head>

<body class="fix-header">

<th:block th:replace="layout/backend/common"/>

<!-- ============================================================== -->
<!-- Page Content -->
<!-- ============================================================== -->
<div id="page-wrapper">

    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; 版权所有</footer>
</div>
<!-- ============================================================== -->
<!-- End Page Content -->
<!-- ============================================================== -->
</body>

</html>
