<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="layout/header"/>
    <title>登录</title>
    <th:block th:replace="layout/script"/>
</head>
<body>
<div>
    <form action="/login" method="post">
        <table>
            <tr>
                <td><label>用户名
                    <input name="username" type="text"/>
                </label></td>
            </tr>
            <tr>
                <td><label>密码
                    <input name="password" type="password"/>
                </label></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
<!--

    thymeleaf 内联 js 需要使用 th:inline="javascript

    /*<![CDATA[*//*]]>*/ 是为了防止没有渲染模板的情况下浏览器无法正常打开 html

<script th:inline="javascript">
    /*<![CDATA[*/

    $(function () {
        alert("hello");
    });

    /*]]>*/
</script>

-->
</html>
