<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登录</title>
    <th:block th:replace="layout/header"/>
</head>
<body>
<div>
</div>
<div>
    <form action="/login" method="post">
        <table>
            <tr>
                <td><label>用户名
                    <input name="username" type="text"/>
                </label></td>
            </tr>
            <tr>
                <td><label>密码
                    <input name="password" type="password"/>
                </label></td>
            </tr>
            <tr>
                <td><input type="submit" value="submit"/></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
